:root {
  --body-bg-color: #fafafa;
  --primary-color: #00acda;
  --white-bg-color: #ffffff;
  --text-color: #383838;
  --border-color: #e7e7e7;
  --error-color: #ea0000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html,
body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  margin: 0;
  min-height: 100dvh;
}

[href] {
  cursor: pointer;
}
