header,
footer {
  background-color: var(--white-bg-color);
}

header {
  border-bottom: solid 1px var(--border-color);
  padding: 12px 0;
}

footer {
  border-top: solid 1px var(--border-color);
  margin-top: auto;
  padding: 25px 0;

  .MuiContainer-root {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

#root {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 100dvh;
}

.small {
  margin: auto;
  max-width: 800px;
}
