header,
footer {
  background-color: var(--white-bg-color);
}

header {
  border-bottom: solid 1px var(--border-color);
  padding: 12px 0;
}

footer {
  border-top: solid 1px var(--border-color);
  margin-top: auto;
  padding: 25px 0;

  .MuiContainer-root {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

footer .MuiContainer-root {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer p {
  margin: 4px 0;
  font-size: 14px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
}

a {
  font-size: 16px;
  text-decoration: underline;
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 100dvh;
}

.small {
  margin: auto;
  max-width: 800px;
}

.action-buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

hr {
  background-color: var(--border-color);
  border: none;
  height: 1px;
  margin: 32px 0 16px 0;
}
